* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI";
   /* font-family: "Segoe UI", Arial, sans-serif; */
}

body {
    background: #eef2f6;
    font-size: 14px;
 }



#datetext, #sitestxt {
    color: #ddd;
    font-size: 36px;
    font-family: "Segoe UI";
    margin-left: 4px;
    font-weight: bold;
    text-shadow: 0 0 9px black
}

#sitestxt {
    text-align: center;
}
  
#top {
    width: 100%;
    height: 15%;
    background-color: rgb(12, 140, 55);
}

#time {
    font-family: "Segoe UI";
    font-weight: 650;
    color: white;
    margin-left: 5px;
    text-shadow: 0 0 9px black;
    display: inline-block
}

#motivatephrase {
    font-family: "Segoe UI";
    color: #ddd;
    font-size: 24px;
    margin-left: 5px;
    font-style: italic;
    text-shadow: 0 0 9px black
}

#weather {
    font-family: "Segoe UI";
    font-weight: 650;
    color: white;
    float: right;
    margin-right: 5px;
    text-align: center;
    text-shadow: 0 0 9px black
    
}

ul {
    list-style: none;
}
#weatheralign > li {
    float: right;
    vertical-align: middle;
}
#weatheralign > li > img {
    margin-top: 0%;

}
#sites > li {
    display: grid;
    place-items: center;
    height: 150px;
    width: 150px;
    border-radius: 8px;
    background-color: rgb(0, 0, 0, 0.5);
    color: #eee;
    margin: 8px;
    font-family: "Segoe UI";
    font-weight: 400;
    float: left;
    transition: 0.25s;
}
#sites > li:hover {box-shadow: 0 0 9px black}

#bottom {
    left: 0;
    bottom: 0;
    position: absolute;
    text-shadow: 0 0 9px black;
    color: white;
}

